

.form_btn{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 300px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    align-content: center;
    margin-left: 35%;
    margin-top: 5%



}
.encode{
    margin-top: 3%;
    margin-right: 3%;
    
}

.link{
    margin-top: 2%;
    margin-bottom: 8%;
    font-size: 95%;

  
}

.para{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

/* .formimg{
    align-content: center;
    justify-content: center;
    display: flex   ;
    margin: auto;
    background-color: red;
} */

.form1{
    margin-top: 3%;
}
.title{
    margin-top: 5%;
    font: bold;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}

.form-control{
    width: 500px;
    margin-left: auto;
    margin-right: auto;

}
.img{
    margin-top: 4%;
}
.input_btn{
    color: lightblue;
}